.ibm-plex sans kr-regular {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body 
{
	font-size: 17px;
	margin: 1%;
}
p 
{
	margin: 5px;
}
ul
{
	margin: 1px;
}
li
{
	margin: 0px;
}
img
{	
	max-width: 90%;
}
.fix
{
    position:fixed;
    bottom:1%;
    right:1%;
    width:30%; 
}

